<%- include("constants/header"); -%>

  <style >
    .avatar {
  vertical-align: middle;
  width:25%;
  border-radius: 50%;
}
  </style>
<center>
<div class="card" style="width: 18rem;">
<a href="/admin-signin">
  <img src="images/jaxnew.jpg" class="card-img-top avatar" alt="...">
</a>

  <div class="card-body">
    <h5 class="card-title">Agnel John</h5>
    <p class="card-text">Computer Science Engineer</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name:AgnelJohn</li>
    <li class="list-group-item">Age:19</li>
    <li class="list-group-item">Address:Tamilnadu,India</li>
    <li class="list-group-item">Mobile:8838542051</li>
    <li class="list-group-item">Email:agneljohn8@gmail.com</li>
  </ul>
  <div class="card-body">
    <a href="/>contactme" class="card-link">Contact Me</a>
  </div>
</div>
</center>
