<%- include("constants/header"); -%>

<div class="row">
  <%for(var i=0;i<projectcontent.length;i++){%>
    <div class="col-lg-6">
      <div class="container" style="border:2px solid black;border-radius:25px;box-shadow: 10px 5px 5px black;">
        <br>
        <h5 class="card-title"><%=projectcontent[i].title%></h5>
  <p class="card-text"><%=projectcontent[i].about%></p>
  <a href="/<%=projectcontent[i].sourcecode%>" class="btn btn-primary">Get source code</a>
  <br><br>
      </div>
    </div>
<%}%>
  </div>
